# Arithmatic Operations

In [1]:
x,y=27,4

print("Sum            : ",x+y)
print("Difference     : ",x-y)
print("Product        : ",x*y)
print("Division       : ",x/y)
print("Floor Division : ",x//y)
print("Power          : ",x**y)
print("Modulus        : ",x%y)

Sum            :  31
Difference     :  23
Product        :  108
Division       :  6.75
Floor Division :  6
Power          :  531441
Modulus        :  3

# Comparison Operations

In [2]:
print(x>y)
print(x>=y)    
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

True
True
False
False
False
True

# Logical Operators

In [3]:
# and, or, not

# String Functions

In [4]:
text="Learning Python"

print("Length of text                    : ",len(text))
print("Slicing of text ")
print("First letter                      : ",text[0])
print("Last letter                       : ",text[-1])
print("Letteres in between 1 and 5 index : ",text[1:5])
print("Trimming                          : ",text.strip())
print("In lowercase                      : ",text.lower())
print("In uppercase                      : ",text.upper())
print("Repalce 'n' with 'Z'              : ",text.replace('n','Z'))

t1="hello"
t2="World"
print("Concatination of t1 & t2          : ",t1+t2)
print("Formating text : ")
name="Prartha"
age=24
text2="My name is {} and iam {} yrs old "
print(text2.format(name,age))

Length of text                    :  15
Slicing of text
First letter                      :  L
Last letter                       :  n
Letteres in between 1 and 5 index :  earn
Trimming                          :  Learning Python
In lowercase                      :  learning python
In uppercase                      :  LEARNING PYTHON
Repalce 'n' with 'Z'              :  LearZiZg PythoZ
Concatination of t1 & t2          :  helloWorld
Formating text :
My name is Prartha and iam 24 yrs old

# Collections in Python
 1. List
 2. Tuple
 3. Set
 4. Dictionary

# 1. List

In [5]:
l1=['mango','orange','apple','mango']
print(l1)

['mango', 'orange', 'apple', 'mango']

Duplication allowed

In [6]:
print(len(l1))

4

length of list

In [7]:
print("First item    : ",l1[0])
print("Last item     : ",l1[-1])
print("first 2 items : ",l1[0:2])
print("Last 2 items  : ",l1[-2:])

First item    :  mango
Last item     :  mango
first 2 items :  ['mango', 'orange']
Last 2 items  :  ['apple', 'mango']

In [8]:
l1.append("pinapple")
print(l1)

['mango', 'orange', 'apple', 'mango', 'pinapple']

Appended

In [9]:
l1.insert(2,"jackfruit")
print(l1)

['mango', 'orange', 'jackfruit', 'apple', 'mango', 'pinapple']

Insert at any position

In [10]:
l1.remove('mango')
print(l1)

['orange', 'jackfruit', 'apple', 'mango', 'pinapple']

Remove first entry of 'mango' from list

In [11]:
l1.clear()
print(l1)

[]

List l1 is cleared

In [12]:
del l1

l1 is deleted

# 2. Tuples

In [13]:
t1=("mango","apple","orange")
print(t1)

('mango', 'apple', 'orange')

No duplicate entry of items are allowed in tuples

In [14]:
print("First item      : ",t1[0])
print("first two items : ",t1[0:2])
print("Lst two items   : ",t1[-2:])

First item      :  mango
first two items :  ('mango', 'apple')
Lst two items   :  ('apple', 'orange')

When a tuple is created it is not possible to change or add items to it. That is not alterable

In [15]:
for x in t1:
    print(x)

mango
apple
orange

Using for loop printing items in the tuple

In [16]:
print(len(t1))

3

Length of tuple t1

In [17]:
del t1

it will delete the tuple

In [18]:
t2=(1,2,3,4)
t3=('a','b','c','d')
print(t2+t3)

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

concatination of two tuples

# 3.Sets

In [19]:
s1={'tomato','carrot','cabbage'}
print(s1)

{'carrot', 'cabbage', 'tomato'}

unorderd and unindexed

In [20]:
for x in s1:
    print(x)

carrot
cabbage
tomato

In [21]:
print('tomato' in s1)

True

to check whether an item esist or not in set

In [22]:
print("LEngth of set     : ",len(s1))
s1.add("onion")
print("Adding a new item : ",s1)

LEngth of set     :  3
Adding a new item :  {'onion', 'carrot', 'cabbage', 'tomato'}

if we want to add a single item, use add method
if we need to add more than one item using update method

In [23]:
s1.update(['onion','chilly'])
print(s1)

{'chilly', 'onion', 'tomato', 'carrot', 'cabbage'}

In [24]:
s1.remove('carrot')
print("Removed carrot from set : ",s1)

Removed carrot from set :  {'chilly', 'onion', 'tomato', 'cabbage'}

In [25]:
s1.add("carrot")
s1.discard('carrot')
print(s1)
s1.discard('potato')
print(s1)

{'chilly', 'onion', 'tomato', 'cabbage'}
{'chilly', 'onion', 'tomato', 'cabbage'}

using discard we can delete the item which is present or not present in the set, while using remove method it will give an error if we try to remove item which is not present in the set

In [26]:
s2={1,2,3}
print(s1.union(s2))

{1, 2, 3, 'cabbage', 'chilly', 'onion', 'tomato'}

union method will join two sets

In [27]:
s1.clear()
print(s1)

set()

In [28]:
del s1

# 4.Dictionary

key value pairs are stored in dictionary

In [29]:
dict1 = {
    "name":"Jhon",
    "email":"jhon@gmail.com",
    "phone":12345
}
print(dict1)

{'name': 'Jhon', 'email': 'jhon@gmail.com', 'phone': 12345}

In [30]:
a=dict1["name"]
print(a)

Jhon

In [31]:
print(dict1["email"])
print(dict1["phone"])
print(dict1.get("name"))

jhon@gmail.com
12345
Jhon

we can also use get method to get the values from dictionary

In [32]:
dict1["name"]="Smith"
print(dict1)

{'name': 'Smith', 'email': 'jhon@gmail.com', 'phone': 12345}

to change the values of key

In [33]:
for x in dict1:
    print(x)

name
email
phone

it will print the keys in the dictionary

In [34]:
for x in dict1:
    print(dict1[x])

Smith
jhon@gmail.com
12345

this will give the values in the dictionary

In [35]:
for x,y in dict1.items():
    print(x,y)

name Smith
email jhon@gmail.com
phone 12345

to print keys and values together

In [36]:
dict1["age"]=30
print(dict1)

{'name': 'Smith', 'email': 'jhon@gmail.com', 'phone': 12345, 'age': 30}

to add new key value pair to the dictionary

In [37]:
dict1.pop("email")
print(dict1)

{'name': 'Smith', 'phone': 12345, 'age': 30}

to remove key value pair from the given dictionary

In [38]:
del dict1["phone"]
print(dict1)

{'name': 'Smith', 'age': 30}

remove key value pair using del

In [39]:
dict1.clear()
print(dict1)

{}

In [40]:
del dict1

# IF condition

Simple If

In [41]:
a=int(input("Enter number : "))

if a>0:
    print("positive")
else:
    print("negetive")

Enter number : 334
positive

if elif statement

In [42]:
if a > 0:
    print("positive")
elif a<0:
    print("negetive")
elif a==0:
    print("Zero")
else:
    print("not number")

positive

Nested if

In [43]:
x,y,z=87,28,94

if x < y:
    if x < z:
        print("X is small")
    else:
        print("z is small")
else:
    if y < z:
        print("Y is small")
    else:
        print("z is small")

Y is small

# While Loop

In [44]:
n=0
while n<5:
    print(n)
    n+=1

0
1
2
3
4

# For Loop

Mainly used with strings to print characters & collections like list, tuple, set, dictionary access values from those collections

In [45]:
word="HELLO"

for i in word:
    print(i)

H
E
L
L
O

In [46]:
for i in word[3]:
    print(i)

L

similarly in list,tuple etc

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

for i in range(1,5):
    print(i)

In [48]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [49]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [50]:
for i in range(15,5,-2):
    print(i)

15
13
11
9
7

# Function

In [51]:
def function_name():
    print("Statements")
#function call

function_name();

Statements

In [52]:
def fact(n):
    f=1
    while n > 0:
        f=f*n
        n-=1
    print(f)
fact(3)

6

In [53]:
fact(10)

3628800

In [54]:
fact(7)

5040

In [55]:
def rev(n):
    r=0
    while n > 0:
        d = n % 10
        r = r * 10 + d
        n = n // 10
    return r
rev(34)

43

In [56]:
rev(7427)

7247

# Recurssive function

In [57]:
# sum of numbrs upto n

def sum_num(n):
    if n <= 1 : 
        return n
    else:
        return n + sum_num(n-1)
sum_num(2)

3

In [58]:
sum_num(5)

15

In [59]:
def factorial(n):
    if n <= 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(7)

5040

In [60]:
factorial(0)

1

# Lambda Function (Anonimous Function)

In [61]:
l=lambda x : x*x
print(l(10))

100

In [62]:
l2=lambda x,y : x**y
print(l2(4,2))

16

In [63]:
list1=[1,2,3,4,5,6]

# filtering list to take out the even numbers from the list

def even(x):
    if x % 2 == 0:
        return x
f=filter(even, list1)

print(list(f))

[2, 4, 6]

In [64]:
# using lambda function

f1=filter(lambda x : x % 2 == 1,list1)
print(list(f1))

[1, 3, 5]

# Object Oriented Programming in Python

In [65]:
class Cars:
    def __init__(self,name,price,colour):
        self.name = name
        self.price = price
        self.colour = colour
    def start(self):
        print(self.name+" engine started")
    
car1 = Cars("maruti",41232,"red")
car2= Cars("toyota",433030,"white")

print(car1.name)
print(car2.name)

maruti
toyota

In [66]:
print(car1.name,car1.colour,car1.price)

maruti red 41232

In [67]:
car1.start()

maruti engine started

# Inheritance

In [68]:
# parent class
class Person:
    def __init__(self,name,contact):
        self.name=name
        self.contact=contact
    def adres(self):
        print(self.name,self.contact)

 # child class
class Doctor(Person):
    # if there is no new properties and method then use a key word pass
    pass
class Patient(Person):
    pass

d1=Doctor("jhon",34456)
p1=Patient("leela",45543)

d1.adres()
p1.adres()

jhon 34456
leela 45543

# Math Function

In [69]:
a=min(23,4,4,12,3445,32)
print(a)

4

In [70]:
b=max(23,4,4,12,3445,32)
print(b)

3445

In [71]:
x=pow(2,3) # 2**3=2*2*2
print(x)

8

In [72]:
import math

print(math.pi)

3.141592653589793

In [73]:
print(math.sqrt(9))

3.0

In [74]:
print(math.gcd(18,74))

2

In [75]:
print(math.lcm(6,36))

36

# Module Creation

Create a .py file.
Inside that define a function.
Create another file.
Inside that import module_module name.
Call the function here

# User input

In [76]:
name=input("Enter name : ")
password=input("Enter password : ")

Enter name : prartha
Enter password : 123

In [77]:
print("NAME     : ",name)
print("PASSWORD : ",password)

NAME     :  prartha
PASSWORD :  123

In [78]:
num1=input("Enter number 1 : ")
num2=input("Enter number 2 : ")
sum=num1+num2
print(sum)

Enter number 1 : 23
Enter number 2 : 22
2322

In [79]:
num1=int(input("Enter number 1 : "))
num2=int(input("Enter number 2 : "))
sum=num1+num2
print(sum)

Enter number 1 : 33
Enter number 2 : 22
55

In [80]:
num1=float(input("Enter number 1 : "))
num2=float(input("Enter number 2 : "))
sum=num1+num2
print(sum)

Enter number 1 : 3.33
Enter number 2 : 2.43
5.76

# File Handling

In [81]:
# creating new file
# if we need to create the file oyt side this folder specify the location along with the file name

f = open("Sample.txt","w")

In [82]:
# write to file
f.write("leraning file handling in python \n")

f.close()

In [83]:
f = open("Sample.txt","r")
read=f.read()

print(read)

leraning file handling in python